<!DOCTYPE html>
<html>
<head>
	<title>Patrick Pograms Color Game</title>
	<link rel="stylesheet" type="text/css" href="/colorGameStyle_ver1_11172017.css">
</head>
<body>

	<h1>
		The 
		<br>
		<span id = "colorDisplay">RGB</span>
		<br> 
		Color Game!
		</h1>


		<div id = "gamebar">
			<button id = "reset">New Colors</button>
 			<span id="message"></span>
 			<button class = "mode">Easy</button>
 			<button class = "mode selected">Hard</button>
 			<button class = "mode">Extreme</button>
 		</div>


	<div id="container">
		<div class="square"> </div>
		<div class="square"> </div>
		<div class="square"> </div>
		<div class="square"> </div>
		<div class="square"> </div>
		<div class="square"> </div>
		<div class="square xtrm"> </div>
		<div class="square xtrm"> </div>
		<div class="square xtrm"> </div>
 	</div>

 	<script type="text/javascript" src="/colorGameJS_ver1_11172017.js"></script>
</body>
</html>